.page-title {
    background-color: #f0f0f0;
    background-attachment: fixed;
    background-size: cover;
    height: 420px;
    text-align: center;
    padding-top: 150px;
    & h1 {
        font-weight: 500;
        font-size: 48px;
        text-transform: uppercase;
        color: #fff;
        padding-bottom: 140px;
    }
    & .page-tab {
        color: #fff;
        font-weight: inherit;
        & a {
            color: #fff;
        }
        & i{
            margin: 0 10px;
        }
        
    }
}


