body {
    overflow-x: hidden;
    background-color: #fff;
    .about-main {
        padding: 30px 0;
        & .about-main-left {
            display: flex;
            flex-direction: column;
            align-items: center;
            & h2 {
                margin: 20px 0 30px 0;
                color: #000;
                font-size: 26px;
                text-transform: uppercase;
                letter-spacing: 1px;
                font-weight: 600;
            }
        }
        & .about-main-right {
            & img {
                width: 100%;
            }
        }
    }

    .about-numbers {
        background-color: #2d3035;
        color: #fff;
        & .about-numbers-box {
            padding: 100px 0px;
            text-align: center;
            & .about-numbers-icon {
                margin-bottom: 20px;
                & i {
                    color: #61ce70;
                    font-size: 50px;
                }
            }
            & h3 {
                font-size: 30px;
                font-weight: 500;
                text-transform: uppercase;
                line-height: 40px;
                margin-bottom: 20px;
            }
            & p {
                color: #fff;
                font-size: 14px;
                font-weight: 700;
                text-transform: uppercase;
                letter-spacing: 0.5px;
            }
            &.black {
                background-color: #212327;
            }
        }
    }

    .why-choose-us {
        padding: 50px 0;
        text-align: center;
        & h2 {
            margin: 20px 0 60px 0;
            color: #000;
            font-size: 26px;
            text-transform: uppercase;
            letter-spacing: 1px;
            font-weight: 600;
        }
        & .why-choose-us-box {
            & .why-choose-us-img {
                margin-bottom: 15px;
            }
            & h3 {
                font-size: 18px;
                font-weight: 500;
                color: #454545;
                line-height: 1.2;
                margin: 20px 0;
            }
            & p{
                font-size: 14px;
            }
        }
    }
}
