body{
    overflow-x: hidden;
    background-color: #fff;
    header{
        background-color: #a34253;
        width: 100%;
        position: fixed;
        top: 0;
        z-index: 999;
        .header-fixed{
            position: static;
            ul{
                display: flex;
                justify-content: space-between;
                align-items: center;
                li{
                    a{
                        transition: 0.3s all;
                        opacity: 0.8;
                        font-size: 14px;
                        font-weight: 600;
                        letter-spacing: .6px;
                        position: relative;
                        line-height: 96px;
                        & .bi-person-fill{
                            margin-left: -12px;
                            margin-right: 20px;
                        }
                        & .bi-search{
                            margin-right: 24px;
                        }
                        & span{
                            background-color: #fff;
                            color: #454545;
                            font-size: 12px;
                            height: 18px;
                            position: absolute;
                            right: -15px;
                            line-height: 18px;
                            top: -10px;
                            width: 18px;
                            border-radius: 50%;
                            text-align: center;
                            font-weight: 400;
                        }
                        &:hover{
                            color: #5db582;
                        }
                      
                    }
                }
            }
        }
        
    }
    
    main{
        padding-top: 110px;
        width: 101%;
        .slider{
            position: relative;
            & .arrows{
                position: relative;
                z-index: 1;
                top: 40%;
                .bi-chevron-left{
                    background-color: #fff;
                    border-radius: 50%;
                    width: 40px;
                    height: 40px;
                    position: absolute;
                    left: 3%;
                    cursor: pointer;
                    opacity: .5;
                    transition: .3s all;
                    &:hover{
                        opacity: 1;
                    }
        
                }
                .bi-chevron-right{
                    background-color: #fff;
                    border-radius: 50%;
                    width: 40px;
                    height: 40px;
                    position: absolute;
                    right: 3%;
                    cursor: pointer;
                    opacity: .5;
                    transition: .3s all;
                    &:hover{
                        opacity: 1;
                    }
        
                }
            }
        
            & .slider-item{
                width: 100%;
                display: none;
                &.active{
                    display: block;
                }
                & img{
                    width: 101%;
                    height: 700px;
                    object-fit: cover;

                }
            }
        
            & .slider-main-img{
                position: absolute;
                z-index: 1;
                max-width: 100%;
                top: 20%;
                left: 35%;
            }

        }
       
        
    
    }

    .deal-of-day{
        margin: 60px 0;
        & .deal-left{
            display: flex;
            flex-direction: column;
            align-items: center;
            & .deal-left-icon{
                margin-bottom: 20px;
            }
            & h5{
                font-size: 14px;
                letter-spacing: 1.6px;
                color: #A34253;
                font-weight: 400;
                font-family: "Pacifico",Sans-serif;
                margin-bottom: 14px;
            }
            & h2{
                margin-bottom: 40px;
            }
            & .deal-left-text{
                text-align: center;
                font-size: 14px;
                margin-bottom: 30px;
            }

            & .deal-left-time{
                max-width: 90%;
                margin: 0 auto;
                margin-bottom: 50px;
                & .deal-left-time-box{
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    padding: 15px 20px;
                    border: 2px solid #A34253 ;
                    border-radius: 50%;
                    margin: 0 15px;
                    & span{
                        font-size: 14px;
                        line-height: 20px;
                        color: #333;
                    }
    
                }
            }
        }
    }
}



