body{
    overflow-x: hidden;
    background-color: #fff;
    header{
        background-color: #a34253;
        width: 100%;
        position: fixed;
        top: 0;
        z-index: 999;
        .header-fixed{
            position: static;
            ul{
                display: flex;
                justify-content: space-between;
                align-items: center;
                li{
                    a{
                        transition: 0.3s all;
                        opacity: 0.8;
                        font-size: 14px;
                        font-weight: 600;
                        letter-spacing: .6px;
                        position: relative;
                        line-height: 96px;
                        & .bi-person-fill{
                            margin-left: -12px;
                            margin-right: 20px;
                        }
                        & .bi-search{
                            margin-right: 24px;
                        }
                        & span{
                            background-color: #fff;
                            color: #454545;
                            font-size: 12px;
                            height: 18px;
                            position: absolute;
                            right: -15px;
                            line-height: 18px;
                            top: -10px;
                            width: 18px;
                            border-radius: 50%;
                            text-align: center;
                            font-weight: 400;
                        }
                        &:hover{
                            color: #5db582;
                        }
                      
                    }
                }
            }
        }
        
    }
    
    main{
        padding-top: 110px;
        width: 101%;
        .slider{
            position: relative;
            & .arrows{
                position: relative;
                z-index: 1;
                top: 40%;
                .bi-chevron-left{
                    background-color: #fff;
                    border-radius: 50%;
                    width: 40px;
                    height: 40px;
                    position: absolute;
                    left: 3%;
                    cursor: pointer;
                    opacity: .5;
                    transition: .3s all;
                    &:hover{
                        opacity: 1;
                    }
        
                }
                .bi-chevron-right{
                    background-color: #fff;
                    border-radius: 50%;
                    width: 40px;
                    height: 40px;
                    position: absolute;
                    right: 3%;
                    cursor: pointer;
                    opacity: .5;
                    transition: .3s all;
                    &:hover{
                        opacity: 1;
                    }
        
                }
            }
        
            & .slider-item{
                width: 100%;
                display: none;
                &.active{
                    display: block;
                }
                & img{
                    width: 101%;
                    height: 700px;
                    object-fit: cover;

                }
            }
        
            & .slider-main-img{
                position: absolute;
                z-index: 1;
                max-width: 100%;
                top: 20%;
                left: 35%;
            }

        }
       
        
    
    }

    .deal-of-day{
        margin: 60px 0;
        & .deal-left{
            display: flex;
            flex-direction: column;
            align-items: center;
            & .deal-left-icon{
                margin-bottom: 20px;
            }
            & h5{
                font-size: 14px;
                letter-spacing: 1.6px;
                color: #A34253;
                font-weight: 400;
                font-family: "Pacifico",Sans-serif;
                margin-bottom: 14px;
            }
            & h2{
                margin-bottom: 40px;
            }
            & .deal-left-text{
                text-align: center;
                font-size: 14px;
                margin-bottom: 30px;
            }

            & .deal-left-time{
                max-width: 90%;
                margin: 0 auto;
                margin-bottom: 50px;
                & .deal-left-time-box{
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    padding: 15px 20px;
                    border: 2px solid #A34253 ;
                    border-radius: 50%;
                    margin: 0 15px;
                    & span{
                        font-size: 14px;
                        line-height: 20px;
                        color: #333;
                    }
    
                }
            }
        }
        & .deal-right{
            // width: 100%;
            & .deal-right-img{
                // width: 100%;
                object-fit: cover;
                padding: 0;
            }
        }
    }

    .top-sale{
        min-height: 600px;
        // background-image: url("/assets/images/top-sale-bg.jpg");
        background-position: center center;
        background-attachment: fixed;
        background-image: url(https://pro.woovina.net/demo-40/wp-content/uploads/2020/06/bottle-barrel-min.jpg);
        margin-bottom: 60px;
        & .top-sale-main{
            text-align: center;
            margin-top: 100px;
            & h3{
                color: #fff;
                font-size: 30px;
                margin-bottom: 120px;
            }
            & h1{
                font-size: 50px;
                color: #fff;
                letter-spacing: 4px;
                margin-bottom: 120px;
            }
            & .button{
                background-color: #A34253;
                color: #fff;
                border-radius: 50px;
                font-size: 24px;
                padding: 12px 24px;
                transition: .3s all;
                &:hover{
                    background-color: #fff;
                    color: #000;
                }
            }
        }

    }

    .customers{
        margin-bottom: 40px;
        & .customers-left-img{
            width: 100%;
        }
        & .customers-right{
            display: flex;
            flex-direction: column;
            align-items: center;

            & h5{
                font-size: 14px;
                letter-spacing: 1.6px;
                color: #A34253;
                font-weight: 400;
                font-family: "Pacifico",Sans-serif;
                margin: 14px 0;
            }
            & h2{
                margin-bottom: 40px;
            }
            & .customers-right-text{
                text-align: center;
                font-size: 14px;
                margin-bottom: 30px;
            }
            & .customers-right-images{
                padding-left: 20px;
                & img{
                    margin: 20px 0;
                }
            }
        }

    }

    .last-blog{
        padding: 40px 0;
        & .last-blog-main{
            text-align: center;
            & h5{
                font-size: 14px;
                letter-spacing: 1.6px;
                color: #A34253;
                font-weight: 400;
                font-family: "Pacifico",Sans-serif;
                margin: 14px 0;
            }
            & h2{
                margin-bottom: 40px;
            }
            & .last-blog-left{
                margin-bottom: 60px;
                overflow: hidden;
                img{
                    transition: all 0.3s;
                    width: 100%;
                    transform: scale(1);
                    &:hover{
                        transform: scale(1.1);
                    }
                }
            }
            & .last-blog-right{
                text-align: left;
                color: #000;
                & h4{
                    font-size: 16px;
                    font-weight: 400;
                    line-height: 1.4;
                    margin-bottom: 20px;

                }
                & p{
                    font-size: 14px;
                    font-weight: 400;
                }
            }
        }
    }
}



