body {
    overflow-x: hidden;
    background-color: #fff;

    & .shop-main {
        padding: 60px 0;
        & aside {
            & .shop-search {
                .input-text {
                    color: #7e7e7e;
                    border: 1px solid #e5e5e5;
                    border-radius: 20px 0 0 20px;
                }

                .input-text:focus {
                    outline: none;
                    box-shadow: 0 0 10px #a34253;
                }

                .btn-search {
                    background-color: #a34253;
                    color: #fff;
                    border-radius: 0 20px 20px 0;
                    &:focus {
                        box-shadow: 0 0 10px #a34253;
                    }
                }

                .form-control {
                    border: 1px solid #7e7e7e;
                }
            }
            & .shop-categories {
                text-align: left;
                border: 1px solid #e5e5e5;
                border-radius: 12px;
                padding: 15px;
                margin-top: 30px;
                & h4 {
                    margin-bottom: 20px;
                    color: #a34253;
                    font-weight: 400;
                }
                & ul {
                    padding-left: 0;
                    & li {
                        margin-bottom: 10px;
                        & a {
                            font-size: 14px;
                            color: #454545;
                            letter-spacing: 0.8px;
                        }
                    }
                }
            }
            & .shop-rates {
                text-align: left;
                border: 1px solid #e5e5e5;
                border-radius: 12px;
                padding: 15px;
                margin-top: 30px;
                & h4 {
                    margin-bottom: 20px;
                    color: #a34253;
                    font-weight: 400;
                }
                & .rate-box {
                    display: flex;
                    margin-bottom: 10px;
                    & input {
                        margin-right: 10px;
                        margin-top: 8px;
                    }
                    & .product-rate {
                        margin-bottom: 10px;
                        & .fas {
                            color: #f9bf00;
                        }
                        & .far {
                            color: #666666;
                        }
                    }
                }
            }
            & .shop-price-range {
                text-align: left;
                border: 1px solid #e5e5e5;
                border-radius: 12px;
                padding: 15px;
                margin-top: 30px;
                display: flex;
                flex-direction: column;
                & h4 {
                    margin-bottom: 20px;
                    color: #a34253;
                    font-weight: 400;
                }
                & .price-range-box {
                    color: #454545;
                    letter-spacing: 0.8px;
                    margin-bottom: 10px;
                    & input {
                        margin-right: 10px;
                    }
                }
            }
        }
        & .shop-products {
            & .product-card {
                margin-bottom: 30px;
                position: relative;
                border-radius: 20px;
                text-align: center;
                box-shadow: 0 0 8px #a34253;
                & .card-img {
                    border-radius: 20px 20px 0 0;
                    border-bottom: 1px solid #e5e5e5;
                    overflow: hidden;

                    & img {
                        width: 100%;
                        border-radius: 20px 20px 0 0;
                        transition: all 0.5s;
                        transform: scale(1);
                        &:hover {
                            transform: scale(1.1);
                        }
                    }
                }
                & .card-body {
                    transition: 0.5s all;
                    border-radius: 0 0 20px 20px;
                    & h5 {
                        font-size: 14px;
                        min-height: 32px;
                        color: #000;
                        font-weight: 600;
                        font-style: inherit;
                        letter-spacing: inherit;
                        text-transform: uppercase;
                    }
                    & .product-rate {
                        margin-bottom: 10px;
                        & .fas {
                            color: #f9bf00;
                        }
                    }
                    & .product-price {
                        & del {
                            font-size: 14px;
                        }
                        & span {
                            color: #a34253;
                            font-size: 18px;
                            font-weight: 600;
                        }
                    }
                }
                & .product-icons {
                    display: flex;
                    flex-direction: column;
                    position: absolute;
                    top: 5%;
                    right: 8%;
                    opacity: 0;
                    transition: 0.5s all;
                    & i {
                        color: #a34253;
                        font-size: 24px;
                        margin-bottom: 14px;
                        cursor: pointer;
                    }
                }
                &:hover .product-icons {
                    opacity: 1;
                }
                &:hover .card-body {
                    background-color: #e7dbdd;
                }
            }
        }
        & .pagination {
            display: flex;
            justify-content: center;
            margin-top: 20px;
            .pagination-outer {
                text-align: center;
            }
            
            .pagination li a.page-link {
                color: #fff;
                background-color: #0a3d62;
                font-size: 22px;
                font-weight: 600;
                line-height: 33px;
                height: 33px;
                width: 33px;
                padding: 0;
                margin: 0 5px;
                border-radius: 50%;
                border: none;
                transition: all 0.5s ease 0s;
                &:focus{
                    box-shadow: none;
                }
            }
            .pagination li a.page-link:hover,
            .pagination li a.page-link:focus,
            .pagination li.active a.page-link:hover,
            .pagination li.active a.page-link {
                color: #fff;
                background: #a34253;
            }
            .pagination li:first-child a.page-link,
            .pagination li:last-child a.page-link {
                color: #a34253;
                background-color: #fff;
                line-height: 27px;
                border: 2px solid #a34253;
            }
        }
    }
}
