body {
    overflow-x: hidden;
    background-color: #fff;
    & .blog-main {
        padding: 60px 0;
        & .blog-main-box {
            width: 500px;
            & img {
                width: 100%;
                height: 280px;
                object-fit: cover;
                border-radius: 5px;
            }
            & h4 {
                font-weight: 600;
                font-size: 28px;
                color: #242424;
                letter-spacing: 0.6px;
                margin: 20px 0;
            }
            & .blog-date {
                padding-bottom: 15px;
                border-bottom: 1px solid #ebebeb;
                margin-bottom: 20px;
                color: #777;
                font-size: 14px;
                line-height: 1;
                & i {
                    color: #a34253;
                    padding-right: 5px;
                }
                & span {
                    font-size: 13px;
                    padding-right: 3px;
                }
            }
            & p {
                font-size: 14px;
                margin-bottom: 24px;
            }
            & .blog-continue {
                padding: 0 20px;
                line-height: 45px;
                border: none;
                background-color: #a34253;
                font-weight: 600;
                color: #fff;
                font-size: 14px;
                border-radius: 25px;
                display: inline-block;
                margin-bottom: 40px;
                transition: .3s all;
                &:hover{
                    background-color: #000;
                }
            }
        }
    }
}
