body {
    overflow-x: hidden;
    background-color: #fff;
    & .wishlist-main {
        padding: 60px 0;
        font-size: 16px;
        & .wishlist-page-box {
            border: 1px solid #e5e5e5;
            border-radius: 10px;
            & .wishlist-page-box-item:not(:last-child) {
                border-bottom: 1px solid #e4e4e4;
            }

            & .wishlist-page-box-item {
                align-items: center;
                text-align: center;
                margin: 10px 0;
                & .wishlist-page-img {
                    & img {
                        max-width: 60px;
                    }
                }
                & .wishlist-page-product-name {
                    color: #454545;
                    transition: all 0.3s ease;
                    font-weight: 400;
                    font-size: 16px;
                    transition: 0.3s all;
                    &:hover {
                        color: #a34253;
                    }
                }
                & .wishlist-page-product-price {
                    color: #a34253;
                    margin-bottom: 0;
                }
                & .product-status {
                    color: green;
                    margin-bottom: 0;
                }
                & .button {
                    padding: 10px;
                    border-radius: 50px;
                    color: #fff;
                    background-color: #000;
                    font-size: 12px;
                    text-align: center;
                    letter-spacing: 0.1em;
                    line-height: 1;
                    transition: 0.3s all;
                    &:hover {
                        background-color: #a34253;
                    }
                }
                & .remove-product-icon {
                    & i {
                        color: #454545;
                        transition: 0.3s all;
                        font-size: 20px;
                        &:hover {
                            color: #a34253;
                        }
                    }
                }
                &.hidden {
                    display: none;
                }
            }

            & .wishlist-page-box-bottom {
                display: flex;
                justify-content: space-evenly;
                align-items: center;
                margin: 20px 0;
                & .button {
                    padding: 16px 20px;
                    border-radius: 50px;
                    color: #fff;
                    background-color: #a34253;
                    font-size: 14px;
                    font-weight: 600;
                    text-align: center;
                    letter-spacing: 0.1em;
                    line-height: 1;
                    transition: 0.3s all;
                    &:hover {
                        background-color: #000;
                    }
                }
                & .wishlist-total-amount {
                    display: flex;
                    & p {
                        font-size: 24px;
                        color: #000;
                        font-weight: 600;
                    }
                    & span {
                        color: #a34253;
                        font-size: 20px;
                        font-weight: 600;
                        line-height: 2.2;
                    }
                    & span:first-child {
                        margin-left: 10px;
                    }
                }
            }

            & .wishlist-empty-box {
                display: none;
                &.active {
                    display: flex;
                    justify-content: space-around;
                    align-items: center;
                    margin: 20px 0;
                }

                & .button {
                    padding: 16px 20px;
                    border-radius: 50px;
                    color: #fff;
                    background-color: #a34253;
                    font-size: 14px;
                    font-weight: 600;
                    text-align: center;
                    letter-spacing: 0.1em;
                    line-height: 1;
                    transition: 0.3s all;
                    &:hover {
                        background-color: #000;
                    }
                }
            }
        }
    }
}
